ul, ol {margin: 0;}
p {margin: 0;}

html,body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header {
	padding: 2em 0;
	border-bottom: 1px solid #6f879a;
}
.logo a{
	display:block;
}
.logo {
	float: left;
}
.head-nav ul li{
	display: inline-block;
}
.head-nav ul li a{
	position: relative;
	display: inline-block;
	outline: none;
	color: #8ca9b9;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
	margin: 0.8em 1.3em;
}
.head-nav a:hover,
.head-nav a:focus {
	outline: none;
}
.head-nav ul{
	padding:0;
	margin: 0;
}


.h2_content {
	background: #fff;
	box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
	border-radius: 0.3em;
	color: #556a7f;
	
}
.h2_content h2 {
	font-size: 22px;
}

.card {
	background: #fff;
	padding: 2em 1.3em;
	box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
	border-radius: 0.3em;
}

.head-nav ul  {
	display: inline-block;
	margin: 0 .5em;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 16px;
}
.head-nav ul li a:hover,.head-nav ul li.active a{
	color:#556A7F;
}
ul a:hover,
ul a:focus {
	outline: none;
	color:#556A7F;
	text-decoration: none;
}
.cl-effect-15 a::before {
	color: #8ca9b9;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
.head-nav {
	padding: 1em 0;
}
.header-right ul li {
	display: inline-block;
	float: left;
}
.header-right {
	float: right;
	margin: 2.1em 0;
}
.header-right ul {
	padding: 0;
}
.header-right li {
	margin: 0 0.5em;
}
i.fb {
	width: 30px;
	height: 32px;
	float: left;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.banner{
	background:#556a7f;
}
.content{
	background:#f5f6f7;
	padding:3em 0;
}


p.adm {
	color: #868f98;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.8em;
	text-align: left;
	padding: 1em 0;
}
p.adm a {
	color: #dc8e7f;
	font-weight: 700;
	text-decoration: underline;
}
p.adm a:hover {
	color: #868f98;
}
.content p {
	color: #868f98;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.8em;
	text-align: left;
	padding: 1em 0;
}

a.link:hover{
	color: #736f72;
}

.cursus {
	background: #fff;
	padding: 2em 1.3em;
	margin: 2em 0 0;
	box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
	border-radius: 0.3em;
}
.content h3 {
	
	font-size: 1.2em;
	font-weight: 700;
	color: #556a7f;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.4em;
	margin:0;
}
.integer {
	background: #fff;
	padding: 2em 1.3em;
	box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
	border-radius: 0.3em;
}

.float {
	float: right  !important;
	
}


.blue-backgorund{
	background-color: lightblue;
}